<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="../static/plugins/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
<script scr="../static/js/jquery.js"></script>
<script scr="../static/plugins/bootstrap-3.4.1/js/bootstrap.js"></script>
<script scr="../static/js/index.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="t1">社团概况</li>
                <li><a href="home.html">社团详情<span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="club_lists.html">社团列表</a></li>
                <li><a href="club_members.html">社团成员</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="t1">个人信息管理</li>
                <li><a href="personal_info.html">个人信息<span class="sr-only">(current)</span></a></li>
                <li><a href="change_perinfo.html">信息修改</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="t1">用户</li>
                <li><a href="#">退出登录<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2>社团列表</h2>
                </div>
                <form method=['POST'] action="/club_lists">
                    <div class="panel-body">
                        <table class="table table-hover">
                            <tr>
                                <th>社团编号</th>
                                <th>社团名</th>
                                <th>申请加入</th>
                            </tr>
                            {% for item in clublists %}
                                <tr>
                                    <td>{{ item.Cno }}</td>
                                    <td>{{ item.Cname }}</td>
                                    <td>
                                        <input class="btn btn-primary" type="submit" value="申请">
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
</body>
</html>